$header: #090E1D;

$pink: #3a0648;
$pink-light: #c93dee;

$deep-pink: #c02fbb;
$deep-pink-light: #e8a0e5;

$blue: #3b59a1;
$blue-light: #758fcd;

$brown: #f75000;
$brown-light: #ffa980;

$green: #318e00;
$green-light: #89ff4a;

$paste: #96f7d2;

$fb: #3B59A1;
$fb-light: #4F6AAB;
$twt: #46B0E4;
$twt-light: #59B8E7;
$gplus: #DD4C39;
$gplus-light: #E05E4D;
$yut: #D71E17;
$yut-light: #DB352F;
$ins: #8A3AB9;
$ins-light: #964EC0;
$drb: #4C75A3;
$drb-light: #5E83AC;

$white: #fff;
$black: #000;
$grey: #999;
$grey-light: #ddd;

$shadow-light: 0px 0px 3.5rem 1px rgba(247,247,247,1);;
