.footer {
	color: $grey;
	background-color: $header;
	margin-top: 5rem;
	padding: 2rem 0;
	@include respond (phone) {
		font-size: 1.4rem;
	}
	&__flex {
		padding-bottom: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #333;
		@include respond (phone) {
			flex-direction: column;
			justify-content: center;
			gap:1.5rem;
		}
	}
	&__ul {
		display: flex;
		justify-content: space-between;
		li {
			list-style: none;
			color: $grey;
			&:not(:first-child) {
				margin-left: 1.5rem;
			}
		}
	}
	&__dropdown {
		list-style: none;
	}

	&__links {
		color: $grey;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
	// &__para {
	// 	color: $grey;
	// }
	&__icons {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 2rem;
		border-bottom: 1px solid #333;
		&-items {
			margin: 1rem 0;
			padding: 1rem;
			transition: .3s all;
			&:not(:first-child) {
				margin-left: 2rem;
				@include respond (phone) {
					margin-left: 1rem;
				}
			}
			i {
				color: $white;
			}
		}
		&-fb {
			background-color: $fb;
			&:hover {
				background-color: $fb-light;
			}
		}
		&-ins {
			background-color: $ins;
			&:hover {
				background-color: $ins-light;
			}
		}
		&-twt {
			background-color: $twt;
			&:hover {
				background-color: $twt-light;
			}
		}
		&-gplus {
			background-color: $gplus;
			&:hover {
				background-color: $gplus-light;
			}
		}
		&-drb {
			background-color: $yut;
			&:hover {
				background-color: $yut-light;
			}
		}
	}
	&__li {
		list-style: none;
		a {
			color: $grey;
			transition: .3s all;
			&:hover {
				color: $white;
				text-decoration: none;
			}
		}
	}
	&__end {
		font-size: 1.2rem;
		padding-top: .5rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		&-left {
			color: $white;
			.brown {
				color: $brown;
				padding-right: .5rem;
				text-decoration: underline;
			}
		}
		&-right {
			position: relative;
			text-align: right;
			@include respond(phone) {
				text-align: right;
			}
			small {
				position: absolute;
				font-size: .8rem;
				bottom: 1rem;
			}
		}
		&-right--menu {
			padding-top: 1rem;
			color: $grey;
			display: flex;
			justify-content: flex-end;
			@include respond(phone) {
				flex-wrap: wrap;
				justify-content: center;
			}

			a {
				color: $grey;
				font-size: 1.2rem;
				margin-left: 1rem;
				transition: .3s all;
				&:hover {
					color: $white;
				}
			}
		}
	}
}